@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}
