.client-feedback-section-block {
  display: inline-flex;
  column-gap: 18px;
  padding: 22px;
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-size: 0.875rem;
  width: 100%;
  margin: 10px;
  min-height: 180px;
}

.client-feedback-section-buttons {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-feedback-section-block-avatar img {
  width: 36px;
  height: 36px;
  display: block;
  margin-top: 5px;
}

.client-feedback-section-buttons {
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px #0000005e;
  align-self: flex-start;
  margin-top: 30px;
}

.client-feedback-section-buttons button {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
  z-index: 10;
}

.client-feedback-section-buttons button:hover {
  background-color: #8490ff;
}

.client-feedback-section-block-list {
  display: flex;
}

.client-feedback-section-block-list-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.client-feedback-section-block-details {
  text-decoration: none;
}

.client-feedback-section-block-details p:nth-of-type(1) {
  margin-bottom: 10px;
}

.client-feedback-section-block-details p:nth-of-type(2) {
  color: black;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.client-feedback-section-block:hover .client-feedback-section-block-details p:nth-of-type(2) {
  color: #8490ff;
}

@media screen and (max-width: 700px) {
  .client-feedback-section-block-list-wrapper {
    width: 100%;
  }

  .client-feedback-section-block {
    width: 100%;
  }

  .client-feedback-section-buttons > div {
    flex-direction: row;
  }

  .client-feedback-section > .row {
    flex-wrap: wrap;
  }
}
