.client-feedback-section {
  background-color: var(--background-darker);
}
.client-feedback-section-block {
  display: inline-flex;
  column-gap: 18px;
  padding: 22px;
  text-decoration: none;
  color: rgb(119, 119, 119);
  background-color: var(--white);
  font-size: 0.875rem;
  width: 100%;
  margin: 10px;
  min-height: 180px;
}

.client-feedback-section-buttons {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-feedback-section-block-avatar img {
  width: 36px;
  height: 36px;
  display: block;
  margin-top: 5px;
}

.client-feedback-section-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 2.25rem;
}

.client-feedback-section-buttons > div {
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px #00000030;
  transition: all 500ms ease-in-out;
}

.client-feedback-section-buttons > div:hover {
  box-shadow: -5px 5px 15px #00000047;
}

.client-feedback-section-buttons button {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
  z-index: 10;
  background-color: var(--white);
  transition: background 200ms ease-in-out;
}

.client-feedback-section-buttons button:hover {
  background-color: #8490ff;
}

.client-feedback-section-buttons button:active {
  transition: none;
  box-shadow: 1px 1px 5px black inset;
  background-color: #6a74cf;
}

.client-feedback-section-block-list {
  display: flex;
}

.client-feedback-section-block-list-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.client-feedback-section-block-details {
  text-decoration: none;
}

.client-feedback-section-block-details p:nth-of-type(1) {
  margin-bottom: 10px;
}

.client-feedback-section-block-details p:nth-of-type(2) {
  color: black;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.client-feedback-section-block:hover .client-feedback-section-block-details p:nth-of-type(2) {
  color: #8490ff;
}

@media screen and (max-width: 700px) {
  .client-feedback-section-block-list-wrapper {
    width: 100%;
    flex-wrap: wrap;
  }

  .client-feedback-section-buttons {
    margin-top: 0;
  }

  .client-feedback-section-buttons > div {
    flex-direction: row;
  }
}
