header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 4rem;
  text-align: center;
  position: fixed;
  background-color: var(--white);
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo img {
  height: 2rem;
  object-fit: contain;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0rem 0.05rem 3rem lightgrey;
  height: 100%;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.nav-links a:hover,
.dropbtn:hover,
.nav-links a.active {
  color: var(--purple);
}

.dropbtn {
  font-size: 0.8rem;
  border: none;
  background-color: inherit;
  font-family: inherit;
  text-transform: uppercase;
}
.dropdown {
  display: flex;
  align-items: center;
  height: 4rem;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 4rem;
  right: 0;
  width: 10rem;
}

.shadow {
  box-shadow: 0rem 0.05rem 2rem lightgray;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: capitalize;
  align-items: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}
