.main-container {
    background: linear-gradient(to right, var(--purple), var(--blue));
    height: 20rem;
    margin-bottom: 5rem;
}

.number {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    margin-top: 2rem;
}

.text {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--white);
    font-weight: normal;
}

@media (max-width: 992px) {
    .main-container {
        height: 25rem;
    }
}
@media (max-width: 768px) {
    .main-container {
        height: 40rem;
    }
}